<form class="d-flex justify-content-center">
  <div class="col-6">
    <h4>{{app}}</h4>
    <label class="form-label">Usuário</label>
    <input ng-model="cpf" type="text" class="form-control" ui-br-cpf-mask placeholder="000.000.000-00">
    <label class="form-label">Senha</label>
    <input ng-model="senha" type="password" class="form-control" placeholder="Senha">
    <br>
    <a href="#!/cadastro">Novo usuário? Criar cadastro</a>
    <div>
      <br>
      <button class="btn btn-primary" ng-click="login(cpf, senha)" ng-disabled="!cpf || !senha">Login</button>
    </div>
  </div>
</form>

